{% extends 'layout.twig' %}

{% block body %}
  <div class="uk-container">


    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <a class="uk-button uk-button-primary uk-button-small" href="/client">I'm a client</a>
    <a class="uk-button uk-button-secondary uk-button-small" href="/device">I'm a device</a>
  </div>
{% endblock %}
