<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/uikit.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/config.js"></script>


    <script src="/javascripts/uikit.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
