{% extends 'layout.twig' %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reinvented-color-wheel@0.1.6/css/reinvented-color-wheel.min.css">
  <script src="https://cdn.jsdelivr.net/npm/reinvented-color-wheel@0.1.6"></script>
{% endblock %}
{% block body %}
  <section class="uk-section">
    <div class="uk-container">
      <h1><strong>Xpeed Technologies takes your privacy very seriously.</strong></h1>
      <p>In general, you can visit Xpeed Technologies's websites without telling us who you are and without revealing any information about yourself. There are times, however, when we may need information from you.</p>
      <ul class="staticList">
        <li>Xpeed Technologies does not rent, sell, or share personal information about you with other people or nonaffiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances:</li>
        <li>We provide the information to trusted partners who work on behalf of or with Xpeed Technologies under extremely strict confidentiality agreements. These companies may use your personal information to help Xpeed Technologies communicate with you about offers from</li>
        <li>Xpeed Technologies and our marketing partners. However, these companies do not have any independent right to share this information.</li>
        <li>We have a parent's permission to share the information if the user is a child under age 13.</li>
        <li>We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims;</li>
        <li>We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, or as otherwise required by law.</li>
        <li>We transfer information about you if Xpeed Technologies is acquired by or merged with another company.</li>
      </ul>
      <p>You may choose to give us personal information, such as your name and address or e-mail id that may be needed, for example, to correspond with you, to download our white papers or to provide you with a subscription. If you tell us that you do not want us to use this information as a basis for further contact with you, we will respect your wishes. We intend to protect the quality and integrity of your personally identifiable information.</p>
      <p>We will make a sincere effort to respond in a timely manner to your requests to correct inaccuracies in your personal information. To correct inaccuracies in your personal information please return the message containing the inaccuracies to the sender with details of the correction requested.</p>
      <h3>Cookies, and other technologies</h3>
      <p>We sometimes collect anonymous information from visits to our sites to help us provide better customer service. For example, we keep track of the domains from which people visit and we also measure visitor activity on Xpeed Technologies web sites, but we do so in ways that keep the information anonymous. Xpeed Technologies or its affiliates or vendors may use this data to analyze trends and statistics and to help us provide better customer service. We maintain the highest levels of confidentiality for this information, our affiliates and vendors follow the same high levels of confidentiality. This anonymous information is used and analyzed only at an aggregate level to help us understand trends and patterns. None of this information is reviewed at an individual level. If you do not want your transaction details used in this manner, you can either disable your cookies or opt-out at the download or request page.</p>
      <h3>Mailers</h3>
      <p>Xpeed Technologies may, if you so choose, send direct mailers to you at the address given by you. You have the option to 'opt-out' of this direct mailer by way of links provided at the bottom of each mailer. We respect your privacy and in the event that you choose to not receive such mailers, we will take all steps to remove you from the list.</p>
      <h3>AntiSpam policy</h3>
      <p>Xpeed Technologies recognizes the receipt, transmission or distribution of spam emails (unsolicited bulk emails) as a major concern and has taken reasonable measures, to minimize the transmission and effect of spam emails in its computing environment. All emails received by Xpeed Technologies, are subject to spam check, in coordination with &ldquo;SPAMHAUS&rdquo; subscription service. Any email identified as spam will be rejected with sufficient information to the Sender for taking necessary action. With this measure, along with other technical spam reduction measures, Xpeed Technologies hopes to minimize the effect of spam emails. Xpeed Technologies reserves the right to reject and/or report any suspicious spam emails, to the authorities concerned, for necessary action, from time to time.</p>
    </div>
  </section>
{% endblock %}
